[submodule "HostWillOSFW/src/CSAL_SHARED"]
	path = HostWillOSFW/src/CSAL_SHARED
	url = git@github.com:william-redenbaugh/CSAL_SHARED.git
[submodule "HostWillOSFW/src/CHAL_SHARED"]
	path = HostWillOSFW/src/CHAL_SHARED
	url = git@github.com:william-redenbaugh/CHAL_SHARED.git
[submodule "HostWillOSFW/src/LinuxCSAL"]
	path = HostWillOSFW/src/LinuxCSAL
	url = git@github.com:william-redenbaugh/LinuxCSAL.git
[submodule "HostWillOSFW/src/LinuxCHAL"]
	path = HostWillOSFW/src/LinuxCHAL
	url = git@github.com:william-redenbaugh/LinuxCHAL.git
[submodule "Pimeroni-HS-Rust-Driver-Pi"]
	path = Pimeroni-HS-Rust-Driver-Pi
	url = git@github.com:william-redenbaugh/Pimeroni-HS-Rust-Driver-Pi.git
[submodule "LEDDriver/lib/WillOS"]
	path = LEDDriver/lib/WillOS
	url = git@github.com:william-redenbaugh/WillOS.git
[submodule "LEDDriver/src/ArduinoCHAL"]
	path = LEDDriver/src/ArduinoCHAL
	url = git@github.com:william-redenbaugh/ArduinoCHAL.git
[submodule "LEDDriver/src/CHAL_SHARED"]
	path = LEDDriver/src/CHAL_SHARED
	url = git@github.com:william-redenbaugh/CHAL_SHARED.git
[submodule "LEDDriver/src/CSAL_SHARED"]
	path = LEDDriver/src/CSAL_SHARED
	url = git@github.com:william-redenbaugh/CSAL_SHARED.git
[submodule "LEDDriver/src/TeensyOSCSAL"]
	path = LEDDriver/src/TeensyOSCSAL
	url = git@github.com:william-redenbaugh/TeensyOSCSAL.git
[submodule "LEDDriver/lib/FastLED"]
	path = LEDDriver/lib/FastLED
	url = git@github.com:FastLED/FastLED.git
[submodule "LEDDriver/lib/Adafruit_NeoPixel"]
	path = LEDDriver/lib/Adafruit_NeoPixel
	url = git@github.com:adafruit/Adafruit_NeoPixel.git
